fastapi
uvicorn
jinja2
requests
beautifulsoup4
pymysql
python-docx
openpyxl
python-pptx
PyMuPDF
pytesseract
Pillow
python-magic
python-magic-bin
# 可选，用于桌面窗口
flaskwebgui
xlrd==1.2.0
PyMuPDF
olefile
pytesseract
openai-whisper
sqlalchemy
pymysql
requests
lxml
py7zr
rarfile